* {
  box-sizing: border-box;
}

html {
  box-sizing: content-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background: #2e2e2e;
  color: white;
  padding: 24px 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.header-titulo {
  margin: 0;
  font-size: 32px;
}

.contenedor-imagen {
  background-color: #8e0084;
  border-radius: 100%;
  height: 260px;
  display: flex;
  align-items: end;
  overflow: hidden;
  position: relative;
  width: 260px;
}

.imagen-cv {
  max-width: 275px;
  position: absolute;
  top: 24px;
  left: -5px;
}

.nav-ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
}

.header-nav ul li {
  display: inline;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.contenedor-fondo:nth-child(even) {
  background-color: #2e2e2e;
  color: white;
}

.contenedor-fondo {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 24px;
}

.contenedor-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 48px 0;
  max-width: 800px;
  width: 100%;
}

.titulo-contenedor {
  font-size: 32px;
  font-weight: 600;
}

.contenedor-informacion {
  font-size: 20px;
  font-weight: 600;
  width: 100%;
}

.contenedor-informacion ul {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contenedor-experiencias {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.contenedor-experiencia {
  width: 250px;
  border-radius: 20px;
  padding: 16px;
  border: 1px solid #bdb6c4;
  flex-shrink: 0;
}

footer {
  background-color: #2e2e2e;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

@media only screen and (max-width: 800px) {
  .header-titulo {
    font-size: 24px;
  }

  .titulo-contenedor {
    font-size: 24px;
  }

  .contenedor-informacion {
    font-size: 16px;
    font-weight: 400;
  }

  .nav-ul {
    gap: 24px;
  }

  .contenedor-imagen {
    height: 180px;
    width: 180px;
  }

  .imagen-cv {
    max-width: 195px;
    position: absolute;
    top: 17px;
    left: -3px;
  }
}
